.footer {
    height: 106vh;
    width: 100%;
    background-color: grey;
}

.footer-container {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url("/footerBg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer-container-top {
    height: 30%;
    width: 80%;
    display: flex;
    gap: 31px;
    margin-top: 45px;
    align-items: center;
    justify-content: flex-start;
}

.footer-location-container,
.footer-contact-container,
.footer-mail-container {
    display: flex;
    gap: 10px;
}

.footer-location-icon,
.footer-contact-icon,
.footer-mail-icon {
    width: 50px;
    height: 50px;
}

.footer-location,
.footer-contact,
.footer-mail {
    font-size: 18px;
    line-height: 1.5;
}

.footer-text-bold {
    font-weight: bold;
}

.footer-container-bottom {
    height: 100%;
    width: 80%;
    border-top: 1px solid white;
    display: flex;
    gap: 30px;
    padding-top: 30px;
    justify-content: flex-start;
}

.footer-social-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.footer-social-icons {
    display: flex;
    gap: 20px;
}

.footer-facebook-icon,
.footer-twitter-icon,
.footer-linkedin-icon,
.footer-instagram-icon {
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 50px;
    color: #1B5A96;
    cursor: pointer;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer-content {
    width: 100%;
    display: flex;
    gap: 50px;
}

.footer-content-heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-content-heading-line {
    display: block;
    width: 60px;
    height: 1.5px;
    background-color: #FB9100;
    margin: 7px 0;
    margin-bottom: 20px;
}

.footer-links {
    width: 25%;
}

.footer-useful-links,
.footer-services-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-useful-links a,
.footer-services-links a {
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
}

.footer-services {
    width: 50%;
}

.footer-subscribe {
    width: 45%;
}

.footer-subscribe-wrapper {
  position: relative;
  width: 100%;
}

.footer-subscribe-input {
  width: 100%;
  height: 46px;
  padding: 0 0 0 14px;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 14px;
}

.footer-subscribe-button {
  position: absolute;
  top: 50%;
  right: -8px;
  transform: translateY(-50%);
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #fb9100;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.footer-subscribe-button:hover {
  background-color: #e67f00;
}

.footer-btn-plane {
  width: 24px;
  height: 24px;
}

.footer-bottom {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: whitesmoke;
}