.navbar-wrapper {
  height: 111px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  height: 80px;
  width: 80%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  border-bottom: 2px solid #e5e7eb;
  border-radius: 50px;
}

.logo {
  height: 50px;
  width: 100%;
}

.navbar-menu {
  height: 50px;
  width: 45%;
  margin-left: 80px;
  background-color: #FFF7EC;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.navbar-menu a {
  font-size: 14px;
  text-decoration: none;
  color: black;
  padding: 6px 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.navbar-menu a:hover {
  background-color: #FB9100;
  color: white;
}

.navbar-bac-btn {
  height: 50px;
  width: 222px;
  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid black;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.navbar-bac-btn:hover {
  background-color: #FB9100;
  color: white;
  outline: none;
  cursor: pointer;
}

.navbar-arrow-circle {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: #FB9100;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.navbar-arrow {
  font-size: 20px;
  color: white;
  transform: rotate(45deg);
  transition: transform 0.6s ease;
}

.navbar-arrow-circle:hover .navbar-arrow {
  transform: rotate(90deg);
}