body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: var(--font-poppins), sans-serif;
}

.landing-page {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}