@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--font-poppins), sans-serif;
}

/* Custom theme */
@theme {
  --animate-pulse-scale: pulse-scale 1.8s infinite;

  @keyframes pulse-scale {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }
}